body {
  height: 100vh; }

.row {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap; }

.block {  height: 80px;
  width: 80px;
  border-radius: 5px;
  background-color: #294a67;
  display: flex;  align-items: center;
  justify-content: center;
  margin: 10px; }

.cta {  height: 50px;  width: 50px;
  cursor: pointer; }

.toggle-btn {  height: 2px;
  width: 25px;
  background-color: #fff;
  position: relative;
  top: 50%;  left: 0;  margin: auto;
  transition: all 0.3s ease-in-out; }
  .toggle-btn:before {
 content: "";
    height: 2px;    width: 25px;    box-shadow: 0 -10px 0 0 #fff;    position: absolute;    top: 0;    left: 0;
    transition: all 0.3s ease-in-out; }
  .toggle-btn:after {    content: "";    height: 2px;    width: 25px;    box-shadow: 0 10px 0 0 #fff;
    position: absolute;
    top: 0;    left: 0;
    transition: all 0.3s ease-in-out; }

.type17:before {
  width: 12px; }
.type17:after {
  width: 12px;
  box-shadow: 13px 10px 0 0 #fff; }

.type18:before {  right: 0;
  width: 6px; }
.type18:after {  width: 12px;
  box-shadow: 13px 10px 0 0 #fff; }
